# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Buildozer
.buildozer/
bin/
*.apk

# Virtual environment
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporales
*.log
*.tmp
temp/
